.rounder {
    border-radius: 100px;
  }

  .box {
    transition: transform 0.5s ease;
    cursor: pointer;
    border-radius: 10px;
  }

  .box:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

  .mtm {
    margin-top: 48px;
  }